/*body*/
img {
  width: 500px;
  height: 300px; }

h2 {
  color: black; }

h3 {
  color: #0a0a0a; }

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }

li {
  color: #134b1a; }

a {
  color: #124118; }

p {
  color: #1e1ec5;
  width: 90vw; }

.titulo-pas {
  color: #141452;
  font-size: 70px;
  text-align: center; }

/*paginasAnexasFuente*/
.fuente {
  font-weight: bolder;
  font-size: 24px;
  color: #141452; }

/*fondo*/
.colorFondo {
  background-color: #c3cfe0; }

/*estiloLista*/
.estiloLista {
  list-style-type: square;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.seccion-lista {
  width: 90vw; }

/*cajas*/
.box {
  background-image: linear-gradient(to top, white, turquoise);
  width: 90vw;
  height: 175px;
  font-size: 45px;
  text-align: center;
  margin: 25px;
  padding: 25px;
  border-bottom: #0a0a0a solid 8px;
  border-right: #03223b solid 6px; }

.boxTitulo {
  background-image: linear-gradient(to left, white, turquoise);
  border-bottom: #0a0a0a solid 8px;
  border-right: #03223b solid 6px;
  width: 90vw;
  height: 175px;
  font-size: 45px;
  text-align: center;
  margin: 25px;
  padding: 25px;
  animation-name: miAnimacion;
  animation-duration: 4s; }

@keyframes miAnimacion {
  0% {
    background: #dedeeb; }
  50% {
    background: #2896b8; }
  100% {
    background: #90e69b; } }

.boxTabla {
  background-color: #020316;
  width: 90vw;
  height: 300px;
  font-size: 45px;
  text-align: center;
  margin: 25px;
  padding: 25px;
  border: #ca0808 solid 8px; }

.boxFieldset {
  background-color: transparent;
  width: 90vw;
  height: 60px;
  text-align: center;
  border-bottom: #0a0a0a solid 4px;
  border-right: #03223b solid 3px;
  border-left: #03223b solid 3px; }

.boxButton {
  background-color: transparent;
  width: 90vw;
  height: 60px;
  text-align: center;
  border-bottom: #0a0a0a solid 4px;
  border-right: #03223b solid 3px;
  border-left: #03223b solid 3px; }

.boxImagen {
  background-image: linear-gradient(to left, white, turquoise);
  width: 90vw;
  height: 300px;
  font-size: 45px;
  text-align: center;
  margin: 25px;
  padding: 25px;
  border-bottom: #0a0a0a solid 8px;
  border-right: #03223b solid 6px; }

/*tituloflotante*/
.divTitulo {
  background-color: #88fc88;
  width: 90vw;
  height: 60px;
  font-size: 14px;
  text-align: center;
  margin: 21px;
  padding: 18px;
  border: #0a0a0a solid 6px; }

/*imagenes*/
.imagenes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.imagenes1 {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .imagenes1 img {
    height: 20em;
    width: 23em;
    margin-right: 20px;
    margin-top: 20px; }

.seccion-imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*GRILLA*/
.GRILLA {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: black solid;
  text-align: center; }

.color-grilla {
  color: darkslateblue; }

.GRILLA > * {
  border: 1px solid black; }

.separador {
  width: 90vw;
  border: solid 1px black; }

.formatocolumna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw; }
