/*body*/

img {
    width: 500px; 
    height: 300px;
}
h2 {
    color: black;
}
h3 {
    color: rgb(10, 10, 10);
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex; flex-direction: column; align-items: center;  
}

li{
    color: rgb(19, 75, 26);
}

a{
    color: rgb(18, 65, 24);
}

p{
    color: rgb(30, 30, 197);
    width: 90vw;
}

.titulo-pas{
    color: rgb(20, 20, 82); font-size: 70px; text-align: center;
}

/*paginasAnexasFuente*/

.fuente{
    font-weight: bolder; font-size: 24px; color: rgb(20, 20, 82) ;
}

/*fondo*/

.colorFondo{
    background-color: rgb(195, 207, 224);
    }

/*estiloLista*/

.estiloLista{
    list-style-type: square;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seccion-lista {
    width: 90vw;
}
/*cajas*/

.box{
    background-image: linear-gradient(to top, white, turquoise);
    width: 90vw;
    height: 175px;
    font-size: 45px;
    text-align: center;
    margin: 25px;
    padding: 25px;
    border-bottom: rgb(10, 10, 10) solid 8px;
    border-right: rgb(3, 34, 59) solid 6px;
}

.boxTitulo{
    background-image: linear-gradient(to left, white, turquoise);
    border-bottom: rgb(10, 10, 10) solid 8px;
    border-right: rgb(3, 34, 59) solid 6px;
    width: 90vw;
    height: 175px;
    font-size: 45px;
    text-align: center;
    margin: 25px;
    padding: 25px;
    animation-name: miAnimacion;
    animation-duration: 4s;
}

@keyframes miAnimacion{
    0%{background:rgb(222, 222, 235)}
    50%{background: rgb(40, 150, 184)}
    100%{background: rgb(144, 230, 155)}
}

.boxTabla{
    background-color: rgb(2, 3, 22);
    width: 90vw;
    height: 300px;
    font-size: 45px;
    text-align: center;
    margin: 25px;
    padding: 25px;
    border:rgb(202, 8, 8) solid 8px
}

.boxFieldset{
    background-color: transparent;
    width: 90vw;
    height: 60px;
    text-align: center;
    border-bottom: rgb(10, 10, 10) solid 4px;
    border-right: rgb(3, 34, 59) solid 3px;
    border-left:  rgb(3, 34, 59) solid 3px;
}

.boxButton{
    background-color: transparent;
    width: 90vw;
    height: 60px;
    text-align: center;
    border-bottom: rgb(10, 10, 10) solid 4px;
    border-right: rgb(3, 34, 59) solid 3px;
    border-left:  rgb(3, 34, 59) solid 3px;
}

.boxImagen{
    background-image: linear-gradient(to left, white, turquoise);
    width: 90vw;
    height: 300px;
    font-size: 45px;
    text-align: center;
    margin: 25px;
    padding: 25px;
    border-bottom: rgb(10, 10, 10) solid 8px;
    border-right: rgb(3, 34, 59) solid 6px;
}

/*tituloflotante*/

.divTitulo{
    background-color: rgb(136, 252, 136);
    width: 90vw;
    height: 60px;
    font-size: 14px;
    text-align: center;
    margin: 21px;
    padding: 18px;
    border:rgb(10, 10, 10) solid 6px;
}

/*imagenes*/

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes1{
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 20em;
        width: 23em;
        margin-right: 20px;
        margin-top: 20px;
    }
}

.seccion-imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*GRILLA*/

.GRILLA{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: black solid;
    text-align: center;
}

.color-grilla{
    color:darkslateblue;
}

.GRILLA > * {
    border: 1px solid black
}

.separador{
    width: 90vw;
    border: solid 1px black;
}

.formatocolumna{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
}